/* Variables */

// Color

$color-text: #222222;
$color-accent: #54BCEB;


// Typography

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

$font-text: 'Open Sans', sans-serif;


/* Global Styles */

body {
	color: $color-text;
	font: {
		family: $font-text;
	}
    line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}


/* Header Styles */

header {
    background: #F0F0F0;

    h1 {
        font: {
            size: 1.75rem;
            weight: 700;
        }
        line-height: 1.35;
        padding: 1rem 0;
    }

    h2 {
        font: {
            size: 0.75rem;
        }
        text-transform: uppercase;
    }

}

header,
main {
    padding: 20% 5%;
}


/* Main Styles */

article {
    margin-bottom: 20%;
}

h1 {
    font: {
        size: 1.5rem;
        weight: 700;
    }
    line-height: 1.35;
    padding-bottom: 1rem;
}

span {
    background: $color-accent;
    border-radius: 50%;
    box-sizing: border-box;
    color: white;
    display: block;
    font: {
        weight: 700;
    }
    height: 2rem;
    margin-bottom: 1rem;
    padding: .25rem;
    text-align: center;
    width: 2rem;
}
