/* Variables */

// Color

$color-text: #222222;
$color-accent: #54BCEB;


// Typography

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700);

$font-text: 'Open Sans', sans-serif;
