/* Variables */

// Color

$color-text: #222222;
$color-text-secondary: #FFFFFF;
$color-text-subtle: rgba(0,0,0,0.5);
$color-accent: #54BCEB;
$color-accent-secondary: #41CDD4;
$color-tertiary: #F0F0F0;
$color-subtle: #FAFAFA;


// Typography

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

$font-text: 'Open Sans', sans-serif;


/* Global Styles */

body {
	color: $color-text;
	font: {
		family: $font-text;
	}
    line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

i {
    font-style: italic;
}

a {
    border-bottom: 1px solid $color-text;
    color: $color-text;
    text-decoration: none;
}

header,
section,
.page-bottom {
    padding: 20% 5%;
}


/* Header Styles */

header {
    background-image:
    linear-gradient(
      135deg,
      $color-accent, $color-accent-secondary
    );

    h1 {
        color: $color-text-secondary;
        font: {
            size: 1.75rem;
            weight: 700;
        }
        line-height: 1.35;
        padding: 1rem 0;
    }

    h2 {
        color: $color-text-subtle;
        font: {
            size: 0.75rem;
        }
        text-transform: uppercase;
    }

}


/* Main Styles */

article {
    margin-bottom: 20%;

    &:last-child {
        margin-bottom: 0;
    }

}

h1 {
    font: {
        size: 1.5rem;
        weight: 700;
    }
    line-height: 1.35;
    padding-bottom: 1rem;
}


/* Reasons Styles */

#reasons span {
    background: $color-accent;
    border-radius: 50%;
    box-sizing: border-box;
    color: $color-text-secondary;
    display: block;
    font: {
        weight: 700;
    }
    height: 2rem;
    margin-bottom: 1rem;
    padding: .25rem;
    text-align: center;
    width: 2rem;
}


/* Testimonials Styles */

#testimonials {
    border-top: 1px solid $color-tertiary;

    h1 {
        padding-bottom: 4rem;
    }

}

blockquote {

    span {
        color: $color-accent;
        display: block;
        font: {
            size: 3rem;
            weight: 700;
        }
        line-height: 1rem;
        margin-bottom: .25rem;
    }

    p {
        font: {
            style: italic;
        }
        margin-bottom: 1rem;
    }

    footer {
        color: $color-text-subtle;
        font: {
            size: 0.75rem;
        }
        text-transform: uppercase;
    }

}


.page-bottom {
    background: $color-subtle;
    color: $color-text-subtle;
}
